{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Прогноз погоди</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <style>
            .custom-bg {
                background: url("{% static 'img/index_weather.png' %}") center center no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 60vh;
            }
        </style>
    </head>
    <body>
        <header class="header py-1">
            <label for = "citySelect" style="margin-top: 6px; margin-left: 10px;">Оберіть локацію: </label>
            <select id = "citySelect">
                <option value = "ukraine">...</option>
                <option value = "dnipro">Дніпро</option>
                <option value = "kyiv">Київ</option>
                <option value = "poltava">Полтава</option>
                <option value = "odesa">Одеса</option>
                <option value = "l'viv">Львів</option>
            </select>
            <div class="item">
              <div class="toggle-pill-dark" style="margin-left: 1390px;">
                <input type="checkbox" id="hourDetal" name="check">
                  <label for="hourDetal" class="checkbox-label"><span>Погодинна деталізація</span></label>
              </div>
            </div>
        </header>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center custom-bg">
            <div class="overlay"></div>
            <div class="text-container">
                <div class="col-md-5 p-lg-5 mx-auto my-5 custom-text">
                    <h1 class="display-4 fw-normal"
                        style="font-weight: bold; font-family: Amiri, Georgia, 'Times New Roman', serif;">Прогноз погоди</h1>
                    <p class="lead fw-normal"
                       style="font-weight: normal; color: #FFFFFF; font-family: Amiri, Georgia, 'Times New Roman', serif;">
                        Ідеально точно показує погоду у місті - <span id="selectedCity">Україна</span>!</p>
                </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div id="result"></div>
        <div id="weatherDetails"></div>
    </body>
    <script src="{% static 'js/script.js' %}"></script>
</html>